<div id="<%= dom_id econ_table %>">
  <p>
    <strong>Acronym:</strong>
    <%= econ_table.acronym %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= econ_table.name %>
  </p>

  <p>
    <strong>Imgurl:</strong>
    <%= econ_table.imgUrl %>
  </p>

  <p>
    <strong>Gross:</strong>
    <%= econ_table.gross %>
  </p>

  <p>
    <strong>Trade:</strong>
    <%= econ_table.trade %>
  </p>

  <p>
    <strong>Expenditure:</strong>
    <%= econ_table.expenditure %>
  </p>

  <p>
    <strong>Reserve:</strong>
    <%= econ_table.reserve %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= econ_table.status %>
  </p>

  <p>
    <strong>Co:</strong>
    <%= econ_table.co %>
  </p>

  <p>
    <strong>Iso:</strong>
    <%= econ_table.iso %>
  </p>

  <p>
    <strong>Ant:</strong>
    <%= econ_table.ant %>
  </p>

  <p>
    <strong>State:</strong>
    <%= econ_table.state %>
  </p>

  <p>
    <strong>Ind:</strong>
    <%= econ_table.ind %>
  </p>

</div>
