<% content_for :title, "New econ table" %>

<h1>New EconTable Record</h1>

<%= form_with model: @econ_table, local: true do |form| %>
  <% if @econ_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@econ_table.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
        <% @econ_table.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Economic</h3>

  <div>
    <%= form.label :acronym %>
    <%= form.text_field :acronym %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :imgUrl, "Image URL" %>
    <%= form.text_field :imgUrl %>
  </div>

  <div>
    <%= form.label :gross %>
    <%= form.number_field :gross %>
  </div>

  <div>
    <%= form.label :trade %>
    <%= form.number_field :trade %>
  </div>

  <div>
    <%= form.label :expenditure %>
    <%= form.number_field :expenditure %>
  </div>

  <div>
    <%= form.label :reserve %>
    <%= form.number_field :reserve %>
  </div>

  <h3>Ideological</h3>

  <div>
    <%= form.label :status %>
    <%= form.select :status, ["Thrify", "Fertile", "Booming", "Friendly", "Stable", "Naval", "Swift", "Resistant", "Industrious"], prompt: "Select a status" %>
  </div>

  <div>
    <%= form.label :co, "Cooperation (0-100)" %>
    <%= form.number_field :co %>
  </div>

  <div>
    <%= form.label :iso, "Isolationism (0-100)" %>
    <%= form.number_field :iso %>
  </div>

  <div>
    <%= form.label :ant, "Antagonism (0-100)" %>
    <%= form.number_field :ant %>
  </div>

  <div>
    <%= form.label :state, "State Control (0-100)" %>
    <%= form.number_field :state %>
  </div>

  <div>
    <%= form.label :ind, "Industrialization (0-100)" %>
    <%= form.number_field :ind %>
  </div>

  <div>
    <%= form.submit "Create EconTable Record" %>
  </div>
<% end %>