<p style="color: green"><%= notice %></p>

<%= render @econ_table %>

<div>
  <%= link_to "Edit this econ table", edit_econ_table_path(@econ_table) %> |
  <%= link_to "Back to econ tables", econ_tables_path %>

  <%= button_to "Destroy this econ table", @econ_table, method: :delete %>
</div>
