<div id="<%= dom_id ai_table %>">
  <p>
    <strong>Acronym:</strong>
    <%= ai_table.acronym %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ai_table.name %>
  </p>

  <p>
    <strong>Imgurl:</strong>
    <%= ai_table.imgUrl %>
  </p>

  <p>
    <strong>Gross:</strong>
    <%= ai_table.gross %>
  </p>

  <p>
    <strong>Trade:</strong>
    <%= ai_table.trade %>
  </p>

  <p>
    <strong>Co:</strong>
    <%= ai_table.co %>
  </p>

  <p>
    <strong>Iso:</strong>
    <%= ai_table.iso %>
  </p>

  <p>
    <strong>Ant:</strong>
    <%= ai_table.ant %>
  </p>

  <p>
    <strong>State:</strong>
    <%= ai_table.state %>
  </p>

  <p>
    <strong>Ind:</strong>
    <%= ai_table.ind %>
  </p>

</div>
